<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/libs/mustard-ui/mustard-ui.min.css">
    <link rel="stylesheet" href="/css/admin/style.css">
    <script src="/js/admin/app.js" type="module"></script>
    <title>{{title}}</title>
</head>

<body>

<header class="header">
    <!-- Подключение меню -->
    {{> admin-menu }}
</header>