<footer>
    <p>Подвал 2022</p>
</footer>

<!-- Модальное окно -->
<div class="modal-mask">
    <div class="modal">
        <div class="modal-head">
            <p class="modal-title">Корзина</p>
        </div>
        <div class="modal-body">
            <p>Пока ничего нет</p>
        </div>
        <!--<div class="modal-footer">
            <button class="button-primary">Save</button>
        </div>-->
    </div>
</div>
</body>
</html>