<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/libs/mustard-ui/mustard-ui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" type="module"></script>
    <title>{{title}}</title>
</head>

<body>

<header class="header">
    <!-- Подключение меню -->
    {{> menu }}
</header>