<!-- Подключаем файл header.hbs -->
{{> admin-header }}

<!-- Сюда будет подгружаться контент файлов -->
<main class="main">
    {{{ body }}}
</main>

<!-- Подключаем файл footer.hbs -->
{{> admin-footer }}